.logo {
    position: relative;
}
.logo img {
    position: absolute;
    height: 50px;
}
.rightBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logout {
    font-size: 26px;
    padding-left: 30px;
    color: white;
}
