.topBar-wrapper {
  display: flex;
  align-items: center;
}

.topBar-wrapper-logo {
  height: 45px;
}

.topBar-title {
  flex: 1;
  text-align: left;
  font-weight: bold;
  font-size: 28px;
  color: #84c7ee;
}

.topBar-right {
  min-width: 526px;
}
