version: "3.3"
services:
  # Frontend
  web:
    build: ./web
    ports:
      - "8081:80"
    environment:
      - VIRTUAL_HOST=allgame.fun,www.allgame.fun
      - VIRTUAL_PORT=8081
  # Backend
  calendar:
    build: ./calendar
    ports:
      - "8082:8080"
    environment:
      - VIRTUAL_HOST=calendar.api.allgame.fun
      - VIRTUAL_PORT=8082
    depends_on:
      - "db"
  chat:
    build: ./chat
    ports:
      - "8083:8080"
    environment:
      - VIRTUAL_HOST=chat.api.allgame.fun
      - VIRTUAL_PORT=8083
    depends_on:
      - "db"
  dashboard:
    build: ./dashboard
    ports:
      - "8084:8080"
    environment:
      - VIRTUAL_HOST=dashboard.api.allgame.fun
      - VIRTUAL_PORT=8084
    depends_on:
      - "db"
  discussion:
    build: ./discussion
    ports:
      - "8085:8080"
    environment:
      - VIRTUAL_HOST=discussion.api.allgame.fun
      - VIRTUAL_PORT=8085
    depends_on:
      - "db"
  payment:
    build: ./payment
    ports:
      - "8086:8080"
    environment:
      - VIRTUAL_HOST=payment.api.allgame.fun
      - VIRTUAL_PORT=8086
    depends_on:
      - "db"
  # Infrastructure
  db:
    image: postgres
    ports:
      - "8087:5432"
  drone-server:
    image: drone/drone:1.10.1
    ports:
      - "9000:9000"
    environment:
      - DRONE_SERVER_HOST=ci.allgame.fun:9000
      - DRONE_SERVER_PROTO=http
      - DRONE_SERVER_PORT=:9000
      - DRONE_GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - DRONE_GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
      - DRONE_RPC_SECRET=${DRONE_RPC_SECRET}
    volumes:
      - /var/lib/drone:/data
  drone-runner:
    image: drone/drone-runner-docker:1.6.3
    environment:
      - DRONE_RPC_HOST=drone-server:9000
      - DRONE_RPC_PROTO=http
      - DRONE_RPC_SECRET=${DRONE_RPC_SECRET}
      - DRONE_RUNNER_CAPACITY=10
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - "drone-server"
  lb:
    image: jwilder/nginx-proxy:0.9.0-alpine
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro