version: "1.0"
services:
  calendar:
    build: ./calendar
    ports:
      - "8081:8080"
    depends_on:
      - "db"
  chat:
    build: ./chat
    ports:
      - "8082:8080"
    depends_on:
      - "db"
  dashboard:
    build: ./dashboard
    ports:
      - "8083:8080"
    depends_on:
      - "db"
  discussion:
    build: ./discussion
    ports:
      - "8084:8080"
    depends_on:
      - "db"
  payment:
    build: ./payment
    ports:
      - "8085:8080"
    depends_on:
      - "db"
  web:
    build: ./web
    ports:
      - "80:80"
  db:
    image: postgres
    ports:
      - "8086:5432"