version: "3.3"
services:
  # Infrastructure
  db:
    image: postgres
    ports:
      - "8087:5432"
  drone-server:
    image: drone/drone:1.10.1
    ports:
      - "9000:9000"
    environment:
      - DRONE_SERVER_HOST=ci.allgame.fun:9000
      - DRONE_SERVER_PROTO=http
      - DRONE_SERVER_PORT=:9000
      - DRONE_GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
      - DRONE_GITHUB_CLIENT_SECRET=${GITHUB_CLIENT_SECRET}
      - DRONE_RPC_SECRET=${DRONE_RPC_SECRET}
      - DRONE_USER_CREATE=username:${DRONE_ADMIN_USERNAME},admin:true
    volumes:
      - /var/lib/drone:/data
  drone-runner:
    image: drone/drone-runner-docker:1.6.3
    environment:
      - DRONE_RPC_HOST=drone-server:9000
      - DRONE_RPC_PROTO=http
      - DRONE_RPC_SECRET=${DRONE_RPC_SECRET}
      - DRONE_RUNNER_CAPACITY=10
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - "drone-server"
  lb:
    image: jwilder/nginx-proxy:0.9.0-alpine
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro