.user-wrapper {
  margin-left: 15px;
}

.user-wrapper {
  position: relative;
}

.user-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid #fff;
  border-top: none;
  border-color: transparent transparent #fff transparent;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.user-wrapper .display-user-info {
  position: absolute;
  left: -56px;
  width: 150px;
  height: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  overflow: hidden;
  transition: height 0.4s;
  text-align: center;
}

.user-wrapper:hover .display-user-info,
.user-wrapper:hover::after {
  display: block;
  height: 148px;
}
